{% block beginning %}

<!DOCTYPE html>
<!--
    * A Design by GraphBerry
    * Author: GraphBerry
    * Author URL: http://graphberry.com
    * License: http://graphberry.com/pages/license
  -->
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>watch-n-read</title>

    <!-- Load fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    <!-- Load css styles -->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <style>
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
      width: 600px;
      height: 400px;
      margin: auto;
      }
      
    </style>

  </head>

  {% endblock beginning %}

  {% block beginning2 %}
  <body>
    
    <div class="jumbotron home home-fullscreen" id="home">

      <div class="mask"></div>
      
      <a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
      
      <!-- Offsite navigation -->
      <!--<nav class="menu">
	  <a href="/index1" class="active"><i class="fa fa-close"></i></a>
	  <h3>Menu</h3>
	  <ul class="nav">
	    <li><a data-scroll href="/index1">Home</a></li>
	    <li><a data-scroll href="/login">Login</a></li>
	    <li><a data-scroll href="/create">Create An Account</a></li>
	  </ul>
	  
	  
      </nav>-->

      <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="#">watch-n-read</a>
	  </div>
	  <ul class="nav navbar-nav">
	    <li><a class="active" href="/index1">Home</a></li>
	    <li><a href="/login">Login</a></li> 
	    <li><a href="/create">Create An Account</a></li> 
	  </ul>
	</div>
      </nav>

      <div class="container">
	<div class="header-info">
	  <h1>watch-n-read</h1>
	  <p>Should you read the book or watch the movie?<br>Compare book and movie reviews!
	  </p><br>

	  <!-- Search form start-->
	  <center>
	    <form class="form-horizontal" role="form" method="POST">
	      <div class="form-group">
		<label class="control-label col-sm-2" for="search">Search:</label>
		<div class="col-xs-8">
		  <input type="text" class="form-control" name="search" id="search" placeholder="Enter a movie or book name">
		</div>
	      </div>

	      <div class="form-group">
		<!--<div class="col-xs-offset-2 col-sm-4">-->
		<div class="col-xs-offset-4 col-xs-4">
		  <center><button type="submit" class="btn-danger btn-sm btn-sm">Submit</button></center>
		</div>
	      </div>
	    </form>
	  </center>
	</div>
      </div>
    </div>
</div>
</div>

<!-- Search form end -->

{% endblock beginning2 %}

{% block carousel %}

<!--Carousel section start -->
<section id="services">
  <div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
	<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	<li data-target="#myCarousel" data-slide-to="1"></li>
	<li data-target="#myCarousel" data-slide-to="2"></li>
	<li data-target="#myCarousel" data-slide-to="3"></li>
	<li data-target="#myCarousel" data-slide-to="4"></li>
	<li data-target="#myCarousel" data-slide-to="5"></li>
	

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
	<div class="item active">
	  <img src="http://images.fandango.com/ImageRenderer/0/0/redesign/static/img/default_poster.png/0/images/masterrepository/other/INTRO-1_Lionsgate_JLaw_CatchingFire_IfIStay.jpg" alt="Flower" width="460" height="345">
	</div>

	<div class="item">
	  <img src="http://screenrant.com/wp-content/uploads/star-wars-episode-7-release-date2.jpg" alt="Flower" width="460" height="345">
	</div>

	<div class="item">
	  <img src="http://thefairytalesite.net/wp-content/uploads/2012/11/Harry-Potter-and-The-Prisoner-of-Azkaban-harry-james-potter-9649892-1024-7681.jpg" alt="Flower" width="460" height="345">
	</div>

	<div class="item">
	  <img src="https://pmcdeadline2.files.wordpress.com/2015/04/paper-towns.jpg?w=970" alt="Flower" width="460" height="345">
	</div>
	
	<div class="item">
	  <img src="http://www.canongate.tv/wp/wp-content/uploads/2013/01/wordbooknight.jpg" width="460" height="345">
	</div>

	<div class="item">
	  <img src="https://u.osu.edu/osualp/files/2015/02/movie_night_image-w7bh57.jpg" alt="Flower" width="460" height="345">
	</div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<!-- Carousel Section end -->

{% endblock carousel %}

{% block footer %}

<!-- Footer start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
	<p>&copy; 2015 Template by <a href="http://graphberry.com" target="_blank">GraphBerry</a></p>
      </div>
      
    </div>
  </div>
</footer>
<!-- Footer end  -->

<!-- Load jQuery -->
<script type="text/javascript" src="static/jquery-1.11.2.min.js"></script>

<!-- Load Booststrap -->
<script type="text/javascript" src="static/bootstrap.js"></script>

<script type="text/javascript" src="static/smooth-scroll.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<!-- Load custom js for theme -->
<script type="text/javascript" src="static/app.js"></script>
</body>
</html>

{% endblock footer %}
