{{post["title"]}}
<br>
{{post["userneme"]}}
<br>
{{post["content"]}}
<br>

{% for comment in comments %}
    OP:{{comment["username"]}}
    <br>
    {{comment["comment"]}}

{% endfor %}

<form class="pure-form" method="POST">
  <center><h2>New Post</h2></center>
  <fieldset>
    <center>
      <textarea rows="10" cols="100" class="form-control" placeholder = "Write here..." name = "text"></textarea>
      <br><br>
      <div class="form-group">
        <div class="col-xs-offset-4 col-xs-4">
          <center><button type="submit" class="btn-danger btn-sm btn-sm">Submit Comment</button></center>
        </div>
      </div>
    </center>
  </fieldset>
</form>


